<div class="snap-start inline-block w-auto align-center ml-48 p-2 text-xl font-bold whitespace-normal"> 
    <p class="pt-2">Beitrag</p>
</div>
<video preload="metadata" class="snap-center inline-block w-auto h-full py-4 object-scale-down" controls>
    <source src="assets/0_2_0_2_Content/2_+++/Beitraege/WMA_BeitragDortmunderArchitekturtage_2022.mp4" type="video/mp4">
</video>
<!--
<div x-data="{ open: true }" @mouseover="open=false" @mouseover.away="open=true" class="inline-block w-auto h-full snap-center align-top">
    <div class="flex h-full relative z-0 p-4">
        <video class="h-full object-scale-down" controls>
            <source src="assets/0_2_0_2_Content/2_+++/Beitraege/WMA_BeitragDortmunderArchitekturtage_2022.mp4" type="video/mp4">
        </video>
        <div x-show="open" class="absolute h-full w-full top-0 left-0 text-xl z-50 bg-white bg-opacity-80 p-16 flex flex-col justify-center"> 
            <p class="font-bold w-full text-center">Beitrag</p>
        </div>
    </div>
</div>
-->

<div class="snap-start inline-block w-auto align-center ml-48 p-2 text-xl font-bold whitespace-normal"> 
    <p class="pt-2">Vortrag</p>
    <p class="pt-2">WMA BunkerTalk</p>
</div>
<img loading="lazy" class="snap-center inline-block w-auto h-full py-4 object-scale-down" src="assets/0_2_0_2_Content/2_+++/Vortraege/WMA_Bunkertalk_DSC7510.jpg" alt="">

<div class="snap-start inline-block w-auto align-center ml-48 p-2 text-xl font-bold whitespace-normal"> 
    <p class="">Ausstellung</p>
    <p class="pt-2">BuildTogether</p>
    <p class="pt-2">Architekturgalerie München 2022</p>
</div>
<img loading="lazy" class="snap-center inline-block w-auto h-full py-4 object-scale-down" src="assets/0_2_0_2_Content/2_+++/Ausstellung/BuildTogether_ArchitekturgalerieMünchen_2022/WMA_DSCF9030.jpg" alt="">

<div class="snap-start inline-block w-auto align-center ml-48 p-2 text-xl font-bold whitespace-normal"> 
    <p class="">WA Förderpreis</p>
    <p class="pt-2">Beste Abschlussarbeit</p>
    <p class="pt-2">2022</p>
</div>
<img loading="lazy" class="snap-center inline-block w-auto h-full py-4 object-scale-down" src="assets/0_2_0_2_Content/2_+++/Preise/WAFörderpreis_besteAbschlussarbeit_2022/WMA_220407_RMAW.jpg" alt="">

<div class="snap-start inline-block w-auto align-center ml-48 p-2 text-xl font-bold whitespace-normal"> 
    <p class="">Vortrag</p>
    <p class="pt-2">Einwurf Siegen</p>
</div>
<img loading="lazy" class="snap-center inline-block w-auto h-full py-4 object-scale-down" src="assets/0_2_0_2_Content/2_+++/Vortraege/WMA_EinwurfSiegen.png" alt="">

<div class="snap-start inline-block w-auto align-center ml-48 p-2 text-xl font-bold whitespace-normal"> 
    <p class="">TUM Modellfotowettbewerb</p>
    <p class="pt-2">Einwurf Siegen</p>
</div>
<img loading="lazy" class="snap-center inline-block w-auto h-full py-4 object-scale-down" src="assets/0_2_0_2_Content/2_+++/Preise/TUMModellbauwettbewerb_Anerkennung_2020/WMA_TUM_Modelfotowettbewerb_3.jpg" alt="">

<div class="snap-start inline-block w-auto align-center ml-48 p-2 text-xl font-bold whitespace-normal"> 
    <p class="">Vortrag</p>
    <p class="pt-2">Design Build</p>
</div>
<img loading="lazy" class="snap-center inline-block w-auto h-full py-4 object-scale-down" src="assets/0_2_0_2_Content/2_+++/Vortraege/WMA_DesignBuild.jpeg" alt="">
<div class="inline-block w-[1200px]">&shy</div>