<!-- preview 
<div class="p-4 h-full w-full flex-shrink-0 snap-start">
    <img class="object-cover h-full w-full" src="assets/01_Projekte/2_ForstfarmUganda/DSC_6338.jpg" alt="">
</div>-->

<!-- Intro text -->

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full w-auto" src="assets/01_Projekte/2_ForstfarmUganda/DSC_6338.jpg" alt="">
</div>
<div class="text-base text-justify flex-shrink-0 p-8 h-full w-96 mx-10 snap-start flex flex-col">
    <div>Forstfarm Uganda, Design Build Projekt</div>
    <div>Buhweju, U</div>
    <div>ongoing</div>
    <div>510 &#13217</div>
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/2_ForstfarmUganda/DSC_9223.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-end">
    <img class="object-scale-down h-full" src="assets/01_Projekte/2_ForstfarmUganda/DSC_9328.jpg" alt="">
</div>
