<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_View.jpg" alt="">
<div class="snap-center inline-block h-full aspect-square align-top p-4 text-xxs font-bold whitespace-normal overflow-y-auto">
    <div class="h-full aspect-square rounded-full bg-[#CBCDFA] flex flex-col justify-center">
        <div class="mx-auto w-4/6 aspect-square flex flex-col justify-center text-center text-white">
            <p class="text-sm">Design Build Projekt</p>
            <p class="font-normal">Entwurfsausarbeitung: Rosa Modersohn und Anna Wimberger</p>
            <p class="text-sm pt-1 sm:pt-4">Buhweju, UG</p>
            <p class="text-sm pt-1 sm:pt-4">ongoing, seit 2019</p>
            <p class="text-sm pt-1 sm:pt-4">510 &#13217</p>
            <p class="text-sm pt-1 sm:pt-4">mit der <a class="text-sm underline" href="https://www.arc.ed.tum.de/lek/entwerfen/archiv/forstfarm-uganda/" target=”_blank”>TU München, Lehrstuhl für Entwerfen & Konstruieren, Gastprof. von Gaudecker</a></p>
            <p class="font-normal">Projekt- und Bauleitung: Ferdinand Albrecht, Rebecca Arnold und Michael Arzberger</p>
            <p class="text-sm pt-1 sm:pt-4">für <a class="text-sm underline" href="https://www.kids-of-africa.com/wir-machen-berufsschule/" target=”_blank”>Kids of Africa</a></p>
            <p class="text-sm pt-1 sm:pt-4 underline"><a href="https://www.instagram.com/plantingfuture_ev/" target=”_blank”>Instagram</a></p>
        </div>
    </div>
</div>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_9329.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_collage.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_groundfloor_guest.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_section_guests.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Guesthouse.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Kueche.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_groundfloor_living.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_section_living.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_00488.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_KuecheInnen.jpg" alt="">
<video preload="none" class="snap-center inline-block w-auto h-full px-4 object-scale-down" controls>
    <source src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Grundsteinlegung_AdobeExpress.mp4" type="video/mp4">
</video>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_9328.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Living.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Dorfplatz.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_DSC09337.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_site_plan.jpg" alt="">

<div class="snap-center inline-block h-full aspect-square align-top p-4 text-xxs font-bold whitespace-normal overflow-y-auto">
    <div class="h-full aspect-square rounded-full bg-[#CBCDFA] flex flex-col justify-center">
        <div class="mx-auto w-4/6 aspect-square flex flex-col justify-center text-center text-white">
            <p class="text-sm">Gefördert durch diverse Sponsoren</p>
            <p class="text-sm pt-1 sm:pt-4">Beteiligte Studierende von der TU München, Hochschule München, Hochschule Augsburg und
                Uganda Martyrs University</p>
            <p class="text-sm pt-1 sm:pt-4">Fotos: Alexander Gruber und Justine Paradis-Claes</p>  
        </div>
    </div>
</div>
