<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_View.jpg" alt="">
<div class="snap-center inline-block w-auto h-full align-top px-4 pt-4 text-xs font-bold whitespace-normal"> 
    <div class="w-auto h-full flex flex-col justify-center md:justify-start">
        <p class="">Forstfarm Uganda</p>
        <p class="pt-2">Design Build Projekt</p>
        <p class="font-normal">Entwurfsausarbeitung: Anna Wimberger und Rosa Modersohn</p>
        <p class="pt-2">Buhweju, UG</p>
        <p class="pt-2">ongoing, seit 2019</p>
        <p class="pt-2">510 &#13217</p>
        <p class="pt-2">+ TU München, Lehrstuhl für Entwerfen & Konstruieren, Gastprof. von Gaudecker</p>
        <p class="font-normal">Projekt- und Bauleitung: Ferdinand Albrecht, Michael Arzberger und Rebecca Arnold</p>
        <p class="pt-2">für Kids of Africa</p>
        <p class="pt-2">Gefördert durch diverse Sponsoren</p>
        <p class="pt-2">Beteiligte Studierende von der TU München, Hochschule München, Hochschule Augsburg und
            Uganda Martyrs University</p>
        <p class="pt-2">Fotos: Justine Paradis-Claes und Alexander Gruber</p>  
        <p class="pt-2">Instagram: <a href="https://www.instagram.com/plantingfuture_ev/">https://www.instagram.com/plantingfuture_ev/</a></p>
        <p class="pt-2">Website: <a href="https://www.kids-of-africa.com/wir-machen-berufsschule/">https://www.kids-of-africa.com/wir-machen-berufsschule/</a></p>
    </div>
</div>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_collage.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_groundfloor_guest.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_section_guests.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Guesthouse.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Kueche.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_groundfloor_living.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_section_living.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_00488.jpg" alt="">
<video class="snap-center inline-block w-auto h-full px-4 object-scale-down" controls>
    <source src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Grundsteinlegung_AdobeExpress.mp4" type="video/mp4">
</video>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_9328.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Living.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Fotos/WMA_Dorfplatz.jpg" alt="">
<img class="snap-end inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/3_ForstfarmUganda/Plaene/WMA_site_plan.jpg" alt="">
