<img class="snap-center inline-block w-auto h-full px-4 object-scale-down"
        src="assets/0_2_0_2_Content/7_HausamSee/Fotos/WMA_8986.JPG" alt="">
<div class="snap-end inline-block w-auto align-top h-full px-4 pt-4 text-xs font-bold">
        <div class="w-auto h-full flex flex-col justify-center md:justify-start">
                <p>Haus am See</p>
                <p class="pt-2">Umbau und Erweiterung</p>
                <p class="pt-2">Berlin, D</p>
                <p class="pt-2">ongoing</p>
                <p class="pt-2">310 &#13217</p>
                <p class="pt-2">+ Katharina Gahl Architektin</p>
                <p class="pt-2">Für privat</p>
        </div>
</div>