<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_Fassade.jpg" alt="">
<div class="snap-center inline-block h-full aspect-square align-top p-4 text-xxs font-bold whitespace-normal overflow-y-auto">
    <div class="h-full aspect-square rounded-full bg-[#CBCDFA] flex flex-col justify-center">
        <div class="mx-auto w-4/6 aspect-square flex flex-col justify-center text-center text-white">
            <p class="text-sm">Wettbewerb</p>
            <p class="pt-1 sm:pt-4 text-sm">Coburg, D</p>
            <p class="pt-1 sm:pt-4 text-sm">2020</p>
            <p class="pt-1 sm:pt-4 text-sm">1721 &#13217</p>
            <p class="pt-1 sm:pt-4 text-sm">mit Modersohn & Freiesleben Architekten</p>
            <p class="pt-1 sm:pt-4 text-sm">Visualisierungen Grauwald Studio</p>
        </div>
    </div>
</div>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_MuWo1.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_B.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_A.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_EG.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_1OG.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_2OG.jpg" alt="">
<img class="snap-end inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_MuWo2.jpg" alt="">
