<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_MuWo2.jpg" alt="">
<div class="snap-center inline-block w-auto h-full align-top px-4 pt-4 text-xs font-bold whitespace-normal">
    <div class="w-5/6 sm:w-auto h-full flex flex-col justify-center md:justify-start">
        <p>Junges Leben</p>  
        <p class="pt-2">Wettbewerb</p>
        <p class="pt-2">Coburg, D</p>
        <p class="pt-2">2020</p>
        <p class="pt-2">1721 &#13217</p>
        <p class="pt-2">+ Modersohn & Freiesleben Architekten</p>
        <p class="pt-2">Visualisierungen Grauwald Studio</p>
    </div>
</div>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_Fassade.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_B.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_A.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_EG.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_1OG.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_2OG.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/4_JungesLeben/Plaene/WMA_MuWo1.jpg" alt="">