<!-- preview
<div class="p-4 h-full w-full flex-shrink-0 snap-start">
    <img class="object-cover h-full w-full" src="assets/01_Projekte/3_KCDC/DJI_0539.jpg" alt="">
</div>
-->
<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/210702_GR.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/210702_Pikto.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/Collage1.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/Collage2.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/Collage3.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/Collage4.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/DJI_0539.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/3_KCDC/GRUNDRISS_ATMO_PDF.jpg" alt="">
</div>

