<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/5_KCDC/Plaene/WMA_Collage2.jpg" alt="">
<div class="snap-center inline-block w-auto h-full align-top px-4 pt-4 text-xs font-bold whitespace-normal"> 
    <div class="w-auto h-full flex flex-col justify-center">
        <p class="">KDC</p>
        <p class="pt-2">Design Build Projekt</p>
        <p class="font-normal">Entwurfsausarbeitung: Jonas Kögel, Anna Wimberger, Rosa Modersohn</p>
        <p class="pt-2">Fort Portal, UG</p>
        <p class="pt-2">ongoing, seit 2021</p>
        <p class="pt-2"> 800 &#13217</p>
        <p class="pt-2">+ Bauen für Orange Farm und Buero Kofink Schels</p>
        <p class="font-normal">Projekt- und Bauleitung: Michael Arzberger, Sebastian Kofink und Markus Dobmeier</p>
        <p class="pt-2">Für KCDC Uganda NGO</p>
        <p class="pt-2">Instagram: <a href="https://www.instagram.com/bauenfuerorangefarm.ev/">https://www.instagram.com/bauenfuerorangefarm.ev/</a></p>
        <p class="pt-2">Website: <a href="https://orangefarm-ev.de/Kyaninga-Child-Development-Centre">https://orangefarm-ev.de/Kyaninga-Child-Development-Centre</a></p>
    </div>
</div>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/5_KCDC/Plaene/WMA_Atmo.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/5_KCDC/Plaene/WMA_Pikto.jpeg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/5_KCDC/Plaene/WMA_GR.jpg" alt="">
<img class="snap-end inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/5_KCDC/Plaene/WMA_Collage3.jpg" alt="">