<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/GR1.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/GR2.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/lageplan.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/MuWo-STQ-9523-Pano-5_matthias-kestel.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/MuWo-STQ-9536_matthias-kestel.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/MuWo-STQ-9581_matthias-kestel.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/MuWo-STQ-9672-Pano_matthias-kestel.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
    <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/MuWo-STQ-9727-Pano_matthias-kestel.jpg" alt="">
</div>

<div class="inline-block p-4 h-full w-auto flex-initial snap-start">
  <img class="object-none h-full aspect-square" src="assets/01_Projekte/1_Musterwohnung/MuWo-STQ-9745_matthias-kestel.jpg" alt="">
</div>
