<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_MuWo-STQ-9745_matthias-kestel.jpg" alt="">
<div class="snap-center inline-block h-full aspect-square align-top p-4 text-xxs font-bold whitespace-normal overflow-y-auto">
    <div class="h-full aspect-square rounded-full bg-[#CBCDFA] flex flex-col justify-center">
        <div class="mx-auto w-4/6 aspect-square flex flex-col justify-center text-center text-white">
            <p class="text-sm">Design Build Projekt</p>
            <p class="font-normal">Entwurfsverfasserinnen: Rosa Modersohn und Anna Wimberger</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">München, D</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">2018-2022</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm"> 90 &#13217</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">mit der TU München, Lehrstuhl für Entwerfen & Konstruieren , Prof. Nagler</p>
            <p class="font-normal">Projekt- und Bauleitung: Ferdinand Albrecht, Matthias Kestel und Sebastian Kofink</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">für die Kooperative Großstadt eG</p>
            <p class="font-normal">Reem Almanai, Florian Fischer und Markus Sowa</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">Fotos: Matthias Kestel</p>
        </div>
    </div>
</div>
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_MuWo-STQ-9672-Pano_matthias-kestel.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Plaene/WMA_GR_Veranstaltung.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Plaene/WMA_GR_Wohnung.jpg" alt="">

<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_6721.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_Dach.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_5864.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_Dachaufsicht.jpg" alt="">


<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_MuWo-STQ-9509_matthias-kestel.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_MuWo-STQ-9512_matthias-kestel.jpg" alt="">

<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_2242.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_5866.jpg" alt="">


<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_MuWo-STQ-9523-Pano-5_matthias-kestel.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Plaene/WMA_St._Quirin.jpg" alt="">
<img class="snap-center inline-block w-auto h-full px-4 object-scale-down" src="assets/0_2_0_2_Content/6_Musterwohnung/Fotos/WMA_MuWo-STQ-9712-Pano_matthias-kestel.jpg" alt="">
<div class="snap-center inline-block h-full aspect-square align-top p-4 text-xxs font-bold whitespace-normal overflow-y-auto">
    <div class="h-full aspect-square rounded-full bg-[#CBCDFA] flex flex-col justify-center">
        <div class="mx-auto w-4/6 aspect-square flex flex-col justify-center text-center text-white">
            <p class="text-sm">Tragwerksplanung Merz Kley und Partner</p>
            <p class="font-normal">Dominikus Sedlmaier</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">Gefördert durch B&O Stiftung und Sto-Stiftung</p>   
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">Beteiligte Studierende</p>
            <p class="font-normal">Nemo Akkermann, Tiziano Aramburo, Caroline Böhm, Henri Fuchs, Ann-Kathrin Gügel, Cäcilia
                Halbgewachs, Mylène Jakob-Wendel, Ivo Kalvelage, Bianca Kelp, Taekho Lee, Theresa Mayr, Rosa
                Modersohn, Tobias Niebhagen, Jens Roll, Florian Roth, Christina Schwalm, Anas Solyman, Daniel
                Sponheimer, Laura Traub, Niklas Wageneder, Anna Wimberger, Yi Yang</p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm underline"><a href="https://www.instagram.com/st.quirin/" target=”_blank”>Instagram</a></p>
            <p class="pt-1 sm:pt-2 xl:pt-4 text-sm">Links:</p>
            <p class="text-sm underline"><a href="https://kooperative-grossstadt.de/openq-22/" target=”_blank”>Kooperative Großstadt</a></p>
            <p class="text-sm underline"><a href="https://www.arc.ed.tum.de/lek/designbuild/projects/2021-musterwohnung-st-quirin/" target=”_blank”>TU München</a></p>
        </div>
    </div>
</div>

