<!-- preview 
<div class="p-4 h-full w-full flex-shrink-0 snap-start">
    <img class="object-cover h-full w-full" src="assets/01_Projekte/4_WBWJungesLeben/Fassadenansicht.jpg" alt="">
</div> -->
<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/1OG.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/2OG.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/3OG.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/4OG.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/5OG.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/A.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/B_ueberarbeitet.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/EG.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/Fassadenansicht.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/MuW_2.OG_1.50.jpg" alt="">
</div>

<div class="p-4 h-full flex-shrink-0 snap-start">
    <img class="object-scale-down h-full" src="assets/01_Projekte/4_WBWJungesLeben/MuWo_1.OG_1.50.jpg" alt="">
</div>

